<div id="content-wrap">

  <div *ngFor="let post of postList">

    <div class="row">

      <div id="main" class="twelve columns align-center centered text-center">
        <article class="entry ">

          <header class="entry-header">

            <h2 class="entry-title">
              <a [routerLink]="['/posts', post.id]" routerLinkActive="router-link-active" title="">{{post.title}}</a>
            </h2>
            <div class="entry-content-media">
              <div class="post-thumb">
                <img src="~/postImages/@item.Image" height="300dp" width="300dp">
              </div>
            </div>
            <div class="entry-meta ">
              <ul>
                <li>{{post.date | date:"MM/dd/yy h:mm:ss a"}}</li>
                <span class="meta-sep">&bull;</span>
                <li>By {{post.username}}</li>
                <span class="meta-sep">&bull;</span>
                <li><a href="#" title="" rel="category tag">{{post.genre}}</a></li>
                <span *ngIf="post.comments.length > 0" class="meta-sep">&bull;</span>
                <li *ngIf="post.comments.length > 0">{{post.comments.length}} comments</li>
              </ul>
            </div>

          </header>

          <div class="entry-content">
            <p>{{post.summary}}</p>
          </div>
        </article> <!-- end entry -->
        <hr />

      </div> <!-- end main -->
    </div>

  </div> <!-- end row -->
  <div class="row add-bottom">

    <div class="twelve columns add-bottom">

      <nav class="pagination add-bottom">

        <span class="page-numbers prev inactive">Prev</span>
        <span class="page-numbers current">1</span>
        <a href="#" class="page-numbers">2</a>
        <a href="#" class="page-numbers">3</a>
        <a href="#" class="page-numbers">4</a>
        <a href="#" class="page-numbers">5</a>
        <a href="#" class="page-numbers">6</a>
        <a href="#" class="page-numbers">7</a>
        <a href="#" class="page-numbers">8</a>
        <a href="#" class="page-numbers">9</a>
        <a href="#" class="page-numbers next">Next</a>

      </nav>

    </div>

    <hr />

  </div> <!-- Row End-->

</div> <!-- end content-wrap -->
